:root {
  --c-brand: #836eef;
  --c-brand-light: #a091ed;

  --c-tip: var(--c-brand);
  --font-family-code: "Fira Code", monospace;
}

html.dark {
  --c-brand: #836eef;
  --c-brand-light: #a091ed;
  --c-tip: var(--c-brand);
  --c-warning-bg: #4e4a3d;
  --c-warning-text: rgba(255, 255, 255, 0.6);
  --c-warning-text-accent: rgba(255, 255, 255, 0.9);
  --c-text-quote: rgba(255, 255, 255, 0.6);
}

.site-name {
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem !important;
  font-weight: 700 !important;
}

#main-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700 !important;
  margin-bottom: 0;
}

.home .hero .description {
  margin-top: 0;
}

#main-title::after,
.site-name::after {
  content: "strapi v4";
  color: #fff;
  display: inline-block;
  background-color: var(--c-brand);
  border-radius: 0.4rem;
  font-size: 0.9rem;
  line-height: 1;
  vertical-align: middle;
  padding: 0.3rem 0.5rem 0.2rem;
  margin-left: 0.5rem;
  font-family: "Fira Code", sans-serif !important;
  font-weight: 600 !important;
}

.site-name::after {
  font-size: 0.7rem;
  vertical-align: 2px;
}

.site-name:hover::after {
  background-color: var(--c-brand-light);
}

.home .hero {
  padding: 40px 0;
}
.home .hero img {
  max-width: 180px;
}

.custom-container {
  border-radius: 5px !important;
}

.code-group__nav-tab {
  padding: 5px 10px;
  opacity: 0.7;
}
.code-group__nav-tab-active {
  font-weight: 600;
  opacity: 1;
}
